.Card{
    height: 410px;
    display:inline-block;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: #08022d;
    border-radius: 35px;
    border: 4px solid rgb(255, 251, 251);
    margin: 14px;
    margin-top: 15px;
   
}
.imgcard{
    height: 180px;
    border-radius: 35px;
}
.ButtonCard{
    margin: 5px;
    justify-content: end;
    align-items:end;
    font-weight: bold;
    font-size: 20px;
    border-radius: 25%;
    cursor: pointer;
    user-select: none;

}
.ButtonCard:hover{
    background-color: #070707;
    color: antiquewhite;
    border-color: antiquewhite;
}
 
.TextCard:h2{
    font-size: 18px;
    color: rgb(220, 213, 213);
    
}
h1{
    font-size: 38px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: bisque;
    margin: 35px;
}
h2{
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: bisque;
}
