.InputContenedor{
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.InputSearch{
    margin: 15px;
    border-radius: 25px;
    font-size: 20px;

}
.ButtonSearch{
    font-size: 20px;
    border-radius: 25px;
    color: #070707;

}
.ButtonSearch:hover{
    background-color: #070707;
    color: antiquewhite;
}